{$DOMAIN} {
   
  # Utilise un email en prod, ou le mot "internal" en local
  tls {$TLS_EMAIL}

  handle_path /api/* {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:80
  }
}